<div id='share-signup'>
<h3>Tell your friends:</h3>
<div class="inline-share">
 	 <div class='twitter'>
	    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="funonrails">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	  </div>
	<div class="facebook">
	  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="100" font=""></fb:like>
	</div>
</div>
</div>

<div id="request-city" class="not-available">
	<h2>Well Shit</h2>
	<p>We hate to admit this, but we don't have a beer delivery distributor in <span id="city"></span>.. yet.  If you sign up below, we'll let you know when we find one.</p>
	<%= form_tag signup_path, :class=> "form", remote: true do %>

	 <h1>
		I Want Beer
		<div class="field-container">
			<%= text_field_tag :email, nil, :class => 'email', :placeholder => '' %><span class="hidden-phone">!</span>
			<div class="sub-text">
				<i class="icon-chevron-up"></i>Enter your email address and we'll keep you updated
			</div>
		</div>
			<%= image_submit_tag "go-btn.png", :alt => "Go", class: "input-btn"%>
		</h1>
	 <% end %>
</div>

<div class="centered">
	<div class="welcome">
		<%= form_tag order_beer_path, :class=> "form", id: "beer-form", remote: true do %>
		 <h1>
			Beer delivery needed at
			<div class="field-container">
				<%= text_field_tag :address, nil, :class => 'address', :placeholder => '' %>
				<div class="sub-text">
					<i class="icon-chevron-up"></i>Enter your street address <em>123 Beer Street</em>
				</div>
			</div>
		</h1>

		<h1>in this zipcode
			<div class="field-container">
	   			<%= text_field_tag :zip, nil, :class => 'zip', :placeholder => '' %>
				<div class="sub-text">
					<i class="icon-chevron-up"></i>Enter your zipcode and press Enter
				</div>
			</div>
			<%= image_submit_tag "go-btn.png", :alt => "Go", class: "input-btn"%>
		</h1>
		<% end %>
	</div>
	
	<div class="about">
		<h2>Our Service is all Hopped Up!</h2>
		<p>We partner with beer delivery services in your area to bring you cold fresh beer at a moments notice.  Don't be a dummy and drive, instead enter your address and zipcode and we'll do the rest.</p>
		
		<div class='share'>
		<h3>Spread the good word!</h3>
		  <div class='twitter'>
		    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="funonrails">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		  </div>
		<div class="facebook">
		  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="100" font=""></fb:like>
		</div>
		<div class="mail">
			<a href="mailto:info@deliverbeerto.me"><i class="icon-envelope"></i><span>Email Us</span></a>
		</div>
	</div>
</div>