<!DOCTYPE html>
<html>
<head>
  <title>Deliver Beer To Me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="Deliver Beer to Me" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://deliverbeerto.me" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="Beer Delivery made easy" />
  <meta property="og:description" content="Order beer online and have it delivered to your front door within an hour" />
  <meta property="fb:admins" content="6225783" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33984713-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
	<div class="navbar">
		<div class="navbar-inner hidden-phone">
			<%= link_to "Deliver Beer To Me", root_path, class: :logo %>
			<!-- <%= link_to "Become a Distributor", root_path, class: :distributor %> -->
		</div>
		<div class="navbar-inner visible-phone">
			<%= link_to "Beer Me", root_path, class: :logo %>
			<!-- <%= link_to "Distribute", root_path, class: :distributor %> -->
		</div>
	</div>
	
	<div id="notices"></div>
	<% if flash[:error].present? %>
	   	<span class="error-lbl">
			<i class="alert-img"></i>
			<div class="error-txt">
				<p><%= flash[:error]%></p>
			</div>
		</span>
	<% end %>
	
	<% if flash[:success].present? %>
	   	<span class="success-lbl">
			<i class="check-img"></i>
			<div class="success-txt">
				<p><%= flash[:success]%></p>
			</div>
		</span>
	<% end %>
<%= yield %>

</body>
</html>